extends ./assets/layout.pug

block content
  .row
    .contenido
      article.entrada
        h2.entrada__titulo Nuestros Productos
        img.entrada__img(src="./img/tarjetas.jpg", alt="")
        p.entrada__parrafo
          | Conoce todos los productos que el banco tiene disponibles para ti.
          | Solicitalo de una forma facil y rapida. Solo debes escoger el prooducto
          | e ingresar tus datos de Contacto. En poco tiempo un asesor se comunicara contigo.
        a(href="#").entrada__link Leer Mas
      article.entrada
        h2.entrada__titulo Ahorro Estudiantil
        img.entrada__img(src="./img/credito-estudiantil.jpg", alt="")
        p.entrada__parrafo
          |Desde ya puedes empezar a ahorrar para la educación de 
          |tus hijos, complementándola con un seguro estudiantil
          | y con sorteos de mutiples premios
        a(href="#").entrada__link Leer Mas
  .row
    .contenido
      article.entrada
        h2.entrada__titulo Credito Vehiculos
        img.entrada__img(src="./img/descarga.jpg", alt="")
        p.entrada__parrafo
          | Solicita tu crédito o Leasing para financiar la compra
          | de Vehiculos nuevos o usados, particulares o comerciales
          | directamente o a traves de un concesionario.
        a(href="#").entrada__link Leer Mas
      article.entrada
        h2.entrada__titulo Credito Hipotecario
        img.entrada__img(src="./img/hipo.png", alt="")
        p.entrada__parrafo
          | Un inmueble propio se ha convertido en el más anhelado 
          | sueño. Por eso es nesesario eligir el inmueble que esté acorde
          | a las espectativas al igual que el crédito que mejor se adapte
          | a tus posibilidades
        a(href="#").entrada__link Leer Mas
